/node_modules
/vendor
/.git
/.gitignore
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/.idea
/.vscode
*.log
.DS_Store
Thumbs.db
/public/build
/public/hot
